:root {
    --grey-1: #404040;
    --grey-2: #595959;
    --grey-3: #737373;
    --grey-4: #8c8c8c;
    --grey-5: #a6a6a6;
    --grey-6: #bfbfbf;
    --grey-7: #d9d9d9;
    --grey-8: #f2f2f2;
}

body {
    background: var(--grey-2);
    color: var(--grey-8);
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    max-width: 768px;
}

/*.icon-action {
    display: block;
    text-indent: -9999px;
    width: 35px;
    height: 28px;
    background: url('icons/marks.svg');
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

.icon-action--plus {
    background-position: -70px -37px;
}

.icon-action--cross {
    background-position: -36px -37px;
}

.icon-action--tick {
    background-position: 0 -37px;
}*/
