/*
 * Global
 */

:root {
    --grey-1: #404040;
    --grey-2: #595959;
    --grey-3: #737373;
    --grey-4: #8c8c8c;
    --grey-5: #a6a6a6;
    --grey-6: #bfbfbf;
    --grey-7: #d9d9d9;
    --grey-8: #f2f2f2;
}

body {
    background: var(--grey-2);
    color: var(--grey-8);
}

/*
 * Layout
 */

.vertical-center {
    max-width: 576px;
}

.full-width {
    width: 100%;
}

/*
 * Cards
 */

.app__card {
    background: var(--grey-5);
    color: var(--grey-2);
    width: 100%;
}

.app__custom-control-input:checked ~ .app__custom-control-indicator {
  background-color: var(--grey-2)!important;
}

.app__custom-control-input:focus ~ .app__custom-control-indicator {
    box-shadow: none !important;
}

.app__custom-control-input:checked ~ .app__custom-control-description {
    color: var(--grey-4);
}


/*
 * add new item
 */
.app__add-new-item-icon {
    display: inline-block;
    margin: 0 5px 0 3px;
    color: var(--grey-4);
}

.app__add-new-item-input {
    display: inline-block;
    background: none;
    border: none;
    padding-left: 6px;
}

.app__add-new-item-input:focus {
    color: var(--grey-2);
    outline: none;
    box-shadow: none;
}

::-webkit-input-placeholder {
    color: var(--grey-4);
}










.timer-wrap {
    position: relative;
}

#timeline {
    fill: transparent;
    stroke-dasharray: 282.74;
    stroke-dashoffset: 0;
    stroke: white;
    stroke-width: 30;
    stroke-opacity: 0.3;
    /*stroke-linecap: round;*/
    transition: all 0.3s ease-out;
}

.timer-btn {
    width: 70px;
    height: 70px;
    background: var(--grey-2);
    color: var(--grey-8);
    border-radius: 50%;
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px 0 0 -35px;
    box-shadow: 0 0 25px 10px rgba(0,0,0,0.25);
}

.timer-btn:hover {
    cursor: pointer;
}
