/*
 * Global
 */

:root {
    --grey-1: #404040;
    --grey-2: #595959;
    --grey-3: #737373;
    --grey-4: #8c8c8c;
    --grey-5: #a6a6a6;
    --grey-6: #bfbfbf;
    --grey-7: #d9d9d9;
    --grey-8: #f2f2f2;
}

body {
    background: var(--grey-2);
    color: var(--grey-8);
}

/*
 * Layout
 */

.vertical-center {
    max-width: 576px;
}

.full-width {
    width: 100%;
}

/*
 * Cards
 */

.app__card {
    background: var(--grey-5);
    color: var(--grey-2);
    width: 100%;
}

.app__custom-control-input:checked ~ .app__custom-control-indicator {
  background-color: var(--grey-2)!important;
}

.app_custom-control-input:focus ~ .app_custom-control-indicator {
    box-shadow: none !important;
}

.app__custom-control-input:checked ~ .app__custom-control-description {
    color: var(--grey-4);
}

/*
 * Card Controls
 */

.icon-card-control {
    display: block;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    background: url('icons/sprite.svg');
    background-repeat: no-repeat;
    background-size: 60px 60px;
}

.icon-card-control--cross {
    background-position: -22px -20px;
}

.icon-card-control--plus {
    background-position: -42px -20px;
}

.icon-card-control--tick {
    background-position: 0 -20px;
}
